In [1]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power

In [2]:
energ = np.array([
# energy expenditure in mJ and stature (0=obese, 1=lean)
[9.21, 0],
[7.53, 1],
[7.48, 1],
[8.08, 1],
[8.09, 1],
[10.15, 1],
[8.40, 1],
[10.88, 1],
[6.13, 1],
[7.90, 1],
[11.51, 0],
[12.79, 0],
[7.05, 1],
[11.85, 0],
[9.97, 0],
[7.48, 1],
[8.79, 0],
[9.69, 0],
[9.68, 0],
[7.58, 1],
[9.19, 0],
[8.11, 1]])

In [3]:
pd.DataFrame(energ)

        0    1
0    9.21  0.0
1    7.53  1.0
2    7.48  1.0
3    8.08  1.0
4    8.09  1.0
5   10.15  1.0
6    8.40  1.0
7   10.88  1.0
8    6.13  1.0
9    7.90  1.0
10  11.51  0.0
11  12.79  0.0
12   7.05  1.0
13  11.85  0.0
14   9.97  0.0
15   7.48  1.0
16   8.79  0.0
17   9.69  0.0
18   9.68  0.0
19   7.58  1.0
20   9.19  0.0
21   8.11  1.0

In [4]:
# Seperating the data into 2 groups
group1 = energ[:, 1] == 0
group1 = energ[group1][:, 0]
group2 = energ[:, 1] == 1
group2 = energ[group2][:, 0]

In [5]:
# two-sample t-test
# null hypothesis: the two groups have the same mean
# this test assumes the two groups have the same variance...
# (can be checked with tests for equal variance - Levene)
# independent groups: e.g., how boys and girls fare at an exam
# dependent groups: e.g., how the same class fare at 2 different exams
t_statistic, p_value = ttest_ind(group1, group2)
print(t_statistic, p_value)

3.9455649161549835 0.0007989982111700593

In [6]:
# p_value < 0.05 => alternative hypothesis:
# they don't have the same mean at the 5% significance level
print ("two-sample t-test p-value=", p_value)

two-sample t-test p-value= 0.0007989982111700593